/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'Overlock';
    src: url('../fonts/Overlock-Regular.ttf');
}
@font-face {
    font-family: 'Overlock';
    src: url('../fonts/Overlock-Bold.ttf');
    font-weight: bold;
}
.bar .title {
    font-weight: bold;
    font-size: 20px;
}
.bar .title,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Overlock', arial;
}
p.light,
a.light {
    color: #fff;
}
.nobets {
    padding: 10%;
    text-align: center;
}