<ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
        <a class="button icon button-icon ion-ios-arrow-thin-left" href="#/tab/viewbook/{{horse[0].bid}}"></a>
    </div>
    <h1 class="title">Create Bet - {{horse[0].bname}}</h1>
</ion-header-bar>
<ion-content class="has-header">
    <div class="list">
        <label class="item item-input item-select">
            <span class="input-label">Team</span>
            <select ng-model="favoritesel">
               {{horse}}
                <option ng-repeat="hor in horse" ng-selected="{{favoritesel == hor.id}}" value="{{hor.id}}">{{hor.name}}</option>
            </select>
        </label>


        <label class="item item-input item-select">
            <span class="input-label">Back/Lay</span>
            <select ng-model="backlaysel">
                <option value="-1" ng-selected="{{backlaysel == -1}}">Back</option>
                <option value="1" ng-selected="{{backlaysel == 1}}">Lay</option>
            </select>
        </label>



        <label class="item item-input">
            <span class="input-label">Odds</span>
            <input type="number" ng-model="oddssel">
        </label>
        <label class="item item-input">
            <span class="input-label">Stake</span>
            <input type="number" ng-model="stakesel">
        </label>

        <div class="padding">
            <button class="button button-block button-positive" ng-click="CreateBetSubmit(horse[0].bid,favoritesel,backlaysel,oddssel,stakesel)">
                Create Bet
            </button>
        </div>
    </div>

</ion-content>
