<ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
        <a class="button icon button-icon ion-ios-arrow-thin-left" href="#/tab/dash"></a>
    </div>
    <h1 class="title">Delete Book - {{book.name}}</h1>
</ion-header-bar>
<ion-content class="has-header">
    <div class="list">
        <div class="padding">
            <button class="button button-block button-assertive" ng-click="ConfirmDeleteBook(book.id)">
                Confirm Delete Book
            </button>

            <button class="button button-block button-positive" ng-click="CancelDeleteBook()">
                Cancel
            </button>
        </div>
    </div>

</ion-content>
