<ion-nav-bar class="bar-positive" align-title="center">
    <ion-nav-title>Stake</ion-nav-title>
    <ion-nav-buttons side="right">
        <a class="button button-icon ion-ios-plus-empty" href="#/tab/createbook"></a>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-content class="has-header">
    <ion-list>
        {{book}}

        <ion-item ng-repeat="book in books" class="item item-icon-right item-text-wrap" href="#/tab/viewbook/{{book.id}}">
            <h2>{{book.name}}</h2>
            <p>{{book.date | date:'EEEE, MMMM d'}}</p>
            <a href="#/tab/deletebook/{{book.id}}"> <i class="icon ion-trash-a assertive"></i> 
            </a>
        </ion-item>

    </ion-list>

    <ion-infinite-scroll icon="ion-loading-c" ng-if="getcheck()" on-infinite="loadMore();">
    </ion-infinite-scroll>

</ion-content>
