
<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <a class="button" href="#/tab/dashboard">Back</a>
  </div>
  <h1 class="title" >Book - {{book.name}}</h1>
  <div class="buttons">
    <a class="button" href="#/tab/viewbets/{{book.id}}">View Bets</a>
  </div>
</ion-header-bar>
<ion-content class="has-header">
    <ion-list>
   	 <ion-item ng-repeat="horse in book.horses" type="item-text-wrap"  href="#/tab/createbet/{{book.id}}/{{horse.id}}">
        {{horse.name}}<span class="badge badge-{{horse.total|totalcolor}}">{{horse.total}}</span>
       
      </ion-item>
    </ion-list>
  </ion-content>

